In [4]:
for (x,y) in [('a',1),('b',2),('c',3),('d',4)]:
    print(x+' '+str(y+2))

a 3
b 4
c 5
d 6

In [6]:
for somechar in 'hello world':
    print(somechar)

h
e
l
l
o

w
o
r
l
d

In [8]:
for x in range(5):
    print (x)

0
1
2
3
4

In [11]:
li = [3,5,7,9,12]

In [12]:
len(li)

5

In [13]:
for i in range(len(li)):
    print(i,li[i])

0 3
1 5
2 7
3 9
4 12

In [15]:
for (i,y) in enumerate(li):
    print(i,y)

0 3
1 5
2 7
3 9
4 12

In [20]:
[y*2 for (i,y) in enumerate(li) if i > 1]

[14, 18, 24]

In [17]:
li

[3, 5, 7, 9, 12]